*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    word-break:break-all;
}

body{
    background-color: #f2f2f2;
}

.divContenedor{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 2em;
}

.inputNota{
    width: 230px;
    height: 80px;
    border-radius: 15px;
    border-width: 2px;
    margin: 5px 0;
    padding: 10px;
}

.inputNota::-webkit-input-placeholder { 
    color: #C5C5C5;
}

.btnCrearNota{
    border-style: none;
    border-radius: 15px;
    color: #fff;
    background-color: #4f4f4f;
    width: 250px;
    height: 35px;
    font-weight: 600;
    transition: 0.5s;
}

.btnCrearNota:hover{
    background-color: #2e2d2d;
    cursor: pointer;
}

.divNota{
    margin: 5px 0;
    border-radius: 15px;
    border: 2px solid #000;
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.btnBorrarNota{
    align-self: flex-end;
    border-style: none;
    background-color: #e0e0e0;
    font-size: small;
    font-weight:600;
    border-radius: 15px;
    padding: 5px 15px;
    transition: 0.5s;
}

.btnBorrarNota:hover{
    background-color: #d4d3d3;
    cursor: pointer;
}